body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #666;
}

select, button {
    display: block;
    margin: 0 auto;
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

select:focus, button:focus {
    outline: none;
    border-color: #5b9dd9;
    box-shadow: 0 0 5px rgba(91, 157, 217, 0.5);
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
}